


.container{
    border: 5px solid black;
}.row{
    border: 3px solid rgb(19, 0, 0);

}
.col-12,col-9{
    border: 10px solid rgb(15, 149, 71);
}.row{
    border: 8px solid rgb(128, 17, 17);
}
.pink{
    background: pink;
}
.green{
    background: orange;
}
.blue{
    background: blue;
}